<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="pageLayout :: commonHead(~{::title}, ~{::link})">
<title>Create Test</title>
<link href="../resources/css/home.css" th:href="@{/resources/css/createExam.css}" rel="stylesheet" type="text/css" />
</head>
<body th:replace="pageLayout :: commonBody(~{:: #main_container})">

<div id="main_container">

	<div>
		<h1 id="main_container_header">Create Test</h1>
	</div>

	<section class="create-exam-wrapper">
		<form method="POST" enctype="multipart/form-data" th:object="${test}" action="/ExamBuilderService/saveTest">
			<table>
				<tr>
					<td>Test Name: </td>
					<td><input type="text" th:field="*{name}" /></td>
					<td>
						<p th:each="error: ${#fields.errors('name')}"
				          th:text="${error}">Validation error</p>
					</td>
				</tr>
				<tr>
					<td>File to upload:</td>
					<td>
						<input style="width: 45%" class="btn_01_small" type="file" name="uploadedQuestions" />
						<a th:href="@{/downloadTemplate}" target="blank">
							<img src="../resources/images/csv-icon.jpg" th:src="@{/resources/images/csv-icon.jpg}" alt="Question Template" width="5%" height="10%"/>
						</a>
					</td>
				</tr>
				<tr>
					<td>Test Duration: </td>
					<td><input type="number"  th:field="*{durationMinutes}" /></td>
					<td>
						<p th:each="error: ${#fields.errors('durationMinutes')}"
				          th:text="${error}">Validation error</p>
					</td>
				</tr>
				<tr>
					<td>Pass Score%: </td>
					<td><input type="text" th:field="*{passScore}" /></td>
					<td>
						<p th:each="error: ${#fields.errors('passScore')}"
				          th:text="${error}">Validation error</p>
					</td>
				</tr>
				<tr>
					<td><input type="button" class="btn_01_small" value="Cancel"  onclick="location.href = '/ExamBuilderService';"/></td>
					<td><input type="submit" class="btn_01_small" value="Create Test" /></td></tr>
			</table>
		</form>
	</section>
</div>
</body>
</html>