<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="pageLayout :: commonHead(~{::title}, ~{::link})">
	<title>Exam Builder - Home Page</title>
	<link href="../resources/css/home.css" th:href="@{/resources/css/home.css}" rel="stylesheet" type="text/css" />
</head>
<body th:replace="pageLayout :: commonBody(~{:: #main_container})">

	<div id="main_container">
		<h1 id="main_container_header">Home page</h1>
		<br>
		<section class="exam-list-header">
			<section class="search-section"></section>
			<section class="exam-action">
				<button type="button" class="btn_01"
					onclick="location.href = '/ExamBuilderService/createTest';">
					Create Test
				</button>
			</section>
		</section>
		<br>
		<br>

		<section class="exams-list-wrapper">
			<ul>
				<li th:each="test : ${tests}">
					<section class="exams-list-item">
						<h3>
							<a href="viewTest.html" th:href="@{/viewTest/{id}(id=${test.id})}" th:text="${test.name}">Spring Framework Assessment</a>
							<!-- <span class="tooltiptext">Click to view exam questions.</span> -->
						</h3>
						<section class="exam-item-action">
							<button type="button" class="btn_01_small">Update</button>
							<button type="button" class="btn_01_small">Invite candidates</button>
						</section>
						<section class="exam-item-details">
							<label>
								<span th:text="${test.durationMinutes}">30</span> minutes
								<!-- <span class="tooltiptext">Exam duration</span> -->
							</label>
							<label>13-Sep-2017
								<!-- <span class="tooltiptext">Active since</span> -->
							</label>
						</section>
					</section>
				</li>
			</ul>
			
		</section>

	</div>


</body>
</html>