<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="pageLayout :: commonHead(~{::title}, ~{::link})">
<title>View Test</title>
<link href="../resources/css/home.css" th:href="@{/resources/css/viewExam.css}" rel="stylesheet" type="text/css" />
</head>

<body th:replace="pageLayout :: commonBody(~{:: #main_container})">

<div id="main_container">
	
	<section class="exams-details">
		<h2 id="main_container_header" th:text="${test.name}">Spring Test</h2>
		<label>
			<span th:text="${test.durationMinutes}">30</span> minutes
			<!-- <span class="tooltiptext">Exam duration</span> -->
		</label>
	</section>
	<br>
	<input type="button" class="btn_01_small" value="back" onclick="location.href = '/ExamBuilderService';"/>
	<br>
	<table class="exam-questions">
		<tr th:each="question,iterationStatus : ${test.questions}">
			<td width="5%" th:text="${iterationStatus.count}">1.</td>
			<td width="95%">
				<table>
					<tr>
						<td colspan="2" th:text="${question.description}">Choose the Java keyword.</td>
					</tr>
					<tr>
						<td width="5%">A.</td>
						<td width="95%" th:text="${question.choiceA}">Serialization</td>
					</tr>
					<tr>
						<td>B.</td>
						<td th:text="${question.choiceB}">Normalize</td>
					</tr>
					<tr>
						<td>C.</td>
						<td th:text="${question.choiceC}">temp</td>
					</tr>
					<tr>
						<td>D.</td>
						<td th:text="${question.choiceD}">static</td>
					</tr>
					<tr height="10px"></tr>
					<tr>
						<td colspan="2">Answer: &nbsp;&nbsp; <span th:text="${question.correctAnswer}">D</span></td>
					</tr>
				</table>
			</td>	
		</tr>
	</table>
	<br>
	<input type="button" class="btn_01_small" value="back" onclick="location.href = '/ExamBuilderService';"/>
	
</div>
</body>
</html>