<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="pageLayout :: commonHead(~{::title}, ~{})">
<title>View Test</title>
</head>

<body th:replace="pageLayout :: commonBody(~{:: #main_container})">

<div id="main_container">
	
	<h3 id="main_container_header" th:text="${test.name}">Spring Test</h3>
	<br>
	<input type="button" value="back" onclick="location.href = '/ExamBuilderService';"/>
	<br>
	<table style="width:80%">
		<tr th:each="question,iterationStatus : ${test.questions}">
			<td width="5%" th:text="${iterationStatus.count}">1.</td>
			<td width="95%">
				<table>
					<tr>
						<td colspan="2" th:text="${question.description}">Choose the Java keyword.</td>
					</tr>
					<tr>
						<td width="5%">A.</td>
						<td width="95%" th:text="${question.choiceA}">Serialization</td>
					</tr>
					<tr>
						<td>B.</td>
						<td th:text="${question.choiceB}">Normalize</td>
					</tr>
					<tr>
						<td>C.</td>
						<td th:text="${question.choiceC}">temp</td>
					</tr>
					<tr>
						<td>D.</td>
						<td th:text="${question.choiceD}">static</td>
					</tr>
					<tr height="10px"></tr>
					<tr>
						<td colspan="2">Answer: &nbsp;&nbsp; <span th:text="${question.correctAnswer}">D</span></td>
					</tr>
				</table>
			</td>	
		</tr>
	</table>
	<br>
	<input type="button" value="back" onclick="location.href = '/ExamBuilderService';"/>
	
</div>
</body>
</html>